<div id="main-container" class="container" style="height: calc(100%);">
    <div id="chat-container" class="row" style="height: calc(85%); width: calc(100vw);">
        <div id="bot-msg" class="col h-100" >
            <div id="msg-bot-mockup" style="padding: 3px; border: 1px solid; border-radius: 15px; width: calc(75%); background-color: #FFFFFF; margin-top: calc(100% - 110px);">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, itaque. Quam esse deserunt at aliquam delectus doloremque dicta.
            </div>
        </div>
        <div id="user-msg" class="col h-100" style="float: right;" >
            <div id="msg-user-mockup" style="padding: 3px; border: 1px solid; border-radius: 15px; width: calc(75%); background-color: #BFDFFF; margin-top: calc(100% - 210px); margin-left: 125px;">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </div>
        </div>
    </div> 
    <div id="text-bar" class="row" style="width: calc(100vw); height: calc(15%); padding: 10px;">
        <div id="text-form" class="col-11 overflow-auto" style="height: calc(100%)">
            <textarea></textarea>
        </div>
        <div id="send-button" class="col-1" style="height: calc(100%)">
            <button class="btn btn-sm btn-primary btn-send">
                Enviar
            </button>
        </div>
    </div>
</div>