<div class="container p-4" style="height: calc(100%); width: 100%;">
    <div class="row" style="height: calc(60px); width: 100%;">
        <h3 class="col-12" style="text-align: center;">
            Segurança
        </h3>
    </div>
    <div class="row" style="height: calc(100% - 60px)">
        <div class="col" style="height: calc(100%)" style="text-align: left;">
            <div style="text-align: center;">
                Trocar e-mail
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <label for="email"> E-mail atual </label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="newEmail"> E-mail novo </label>
                <input type="email" class="form-control" id="newEmail">
            </div>
            <div class="form-group">
                <button style="float: right;" class="btn btn-sm btn-primary"> Salvar </button>
            </div>
        </div>
        <div class="col" style="height: calc(100%)" style="text-align: left;">
            <div  style="text-align: center;">
                Trocar senha
            </div>
            <div class="form-group" style="margin-top: 30px;">
                <label for="passoword"> Senha atual </label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="newPassword"> Senha novo </label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <div class="form-group">
                <button style="float: right;" class="btn btn-sm btn-primary"> Salvar </button>
            </div>
        </div>
    </div>
</div>