<div class="loginDiv">
  <div class="">
    <label for="" class="userLabel">Usuário</label>
    <input type="text" name="" value="" placeholder="Usuario" class="userInput">
  </div>
  <div class="">
    <label for="" class="passwordlabel">Senha</label>
    <input type="password" name="" value="" placeholder="Senha" class="userPasswordInput">
  </div>
  <button type="button" name="button" class="loginBut" (click)="openChat()">Entrar</button>
  <a id="cadastroLink" (click)="openCadastro()">Cadastro</a>
</div>
